<div>
    <form action="/" method="POST">
    <label for="email">Email: </label>
    <input type="text" name="email">
    <br>
    <label for="username">Create a Username: </label>
    <input type="text" name="username">
    <br>
    <label for="password">Password: </label>
    <input type="text" name="password">
    <br>
    <label for="confirm-password">Confirm Password: </label>
    <input type="text" name="confirm-password">
    <br>
    <input type="submit" value="send" id="submit">
    </form>
</div>